/////////////////// ACCORDION ////////////////////

.accordion {

  .accordion-block {
    padding-bottom: $smaller-spacing;
    @extend .default-transition;

    &.active {
      margin-bottom: $base-spacing;

      .accordion-title {
        font-weight: $semibold-weight;
      }

      .accordion-content {
        padding-bottom: $base-spacing;
      }

      .accordion-title:before {
        content: "\e60f";
      }
    }
  }

  .accordion-title {
    position: relative;
    padding-left: $medium-spacing;
    cursor: pointer;
    @include user-selection;

    &:before {
      content: "\e60c";
      font-family: 'contactlab-icons';
      width: $medium-spacing;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .accordion-content {
    height: 0;
    padding-left: $medium-spacing;
    padding-top: $small-spacing;
    overflow: hidden;
    @extend .default-transition;

    &.opened {
        overflow: inherit;
    }
  }
}

/////////////////// END ACCORDION ////////////////////
