$btn-border-thickness: 1px;

//////////////// BUTTONS ////////////////

// DEFAULT BUTTONS

button-clab {
  margin-right: $smaller-spacing;
  display: inline-block;

  &:last-of-type {
    margin-right: 0;
  }
}

.btn {
  border: 0;
  padding: $small-spacing $base-spacing;
  background-color: $default-color;
  cursor: pointer;
  border-bottom: $btn-border-thickness solid darken($default-color, 15%);
  color: #FFFFFF;
  line-height: 1.2;
  vertical-align: bottom;
  font-size: $base-font-size;
  display: inline-block;

  &.block {
    width: 100%;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $disabled-color !important;
    border-color: darken($disabled-color, 15%) !important;
    color: darken($disabled-color, 15%) !important;
  }

  &:hover {
    background-color: lighten($default-color, 3%);
  }

  &:active {
    background-color: darken($default-color, 3%);
    border-bottom: 0;
    margin-top: $btn-border-thickness;
  }

  &.small {
    padding: 6px $small-spacing;
    min-height: 30px;

    &:active {
        min-height: 29px;
    }
  }

  .icon {
    display: inline-block;

    + span {
      padding-left: $smaller-spacing;
    }
  }

  @each $type, $color in $default-status {
    &.#{$type} {
      border-bottom-color: darken(nth($color, 1), 15%);
      background-color: nth($color, 1);
      color: nth($color, 2);

      &:hover {
        background-color: lighten(nth($color, 1), 3%);
        color: nth($color, 2);
      }

      &:focus {
        background-color: nth($color, 1);
      }

      &:active,
      &.active {
        color: nth($color, 2);
        background-color: darken(nth($color, 1), 3%);
      }
    }
  }

  // EMPTY BUTTONS

  &.empty {
    background: transparent;
    padding-top: $small-spacing - 1px;
    border: $btn-border-thickness solid $default-color;
    color: $default-color;

    &:disabled {
      background-color: transparent !important;
    }

    &:active {
      padding-top: $small-spacing - 1px;
      color: #FFFFFF;
      background-color: $default-color;
      border-bottom: 0;
    }

    &.small {
      padding-top: $smaller-spacing - 1px;
    }

    @each $type, $color in $default-status {
      &.#{$type} {
        border-color: nth($color, 1);
        color: nth($color, 1);

        &:hover {
          background: transparent;
          border-color: lighten(nth($color, 1), 3%);
          border-color: lighten(nth($color, 1), 3%);
        }

        &:focus {
          background: transparent;
          border-color: nth($color, 1);
        }

        &:active,
        &.active {
          color: nth($color, 2);
          background-color: darken(nth($color, 1), 3%);
        }
      }
    }
  }

  // FLAT BUTTONS

  // &.flat {
  //   border-color: transparent;
  //   background: transparent;
  //   color: $default-color;
  //
  //   &:disabled {
  //     background-color: transparent !important;
  //   }
  //
  //   &:active,
  //   &.active {
  //     background: $default-color;
  //     color: #FFFFFF;
  //   }
  //
  //   &:disabled {
  //     border-color: transparent !important;
  //   }
  //
  //   @each $type, $color in $default-status {
  //     &.#{$type} {
  //       background-color: transparent;
  //       color: nth($color, 1);
  //
  //       &:hover {
  //         border-color: transparent;
  //       }
  //
  //       &:active,
  //       &.active {
  //         background-color: nth($color, 1);
  //         border-color: nth($color, 1);
  //         color: nth($color, 2);
  //       }
  //     }
  //   }
  // }
}

//////////////// END BUTTONS ////////////////



//////////////// BUTTONS GROUP ////////////////

.buttons-group {
  display: flex;

  button-clab {
    margin: 0;

    &:first-of-type .btn {
        margin-left: 0;
    }
  }

  &.small {
    .btn {
      @extend .small;
    }
  }

  &.smaller {
      .btn {
          padding: 3px 5px;
          font-size: $small-font-size;
          border-top: 1px solid $default-color;
      }
  }

  .btn {
    margin: 0;
    border-left: 1px solid $default-color;
    border-right: 1px solid $default-color;
    margin-left: -1px;

    &:active {
      border-bottom: 1px solid $default-color;
    }
  }

  @each $type, $color in $default-status {
    &.#{$type} {
      .btn {
        @extend .#{$type};
        border-color: nth($color, 1);

        &.empty {
          background-color: transparent;
        }
      }
    }
  }
}


//////////////// END BUTTONS GROUP ////////////////
