// ROME CALENDAR

.rd-container.rd-container-attachment {
  z-index: 999;
  position: absolute;
}

.rd-container {
  @include box-shadow(0, 4px, 10px, 0, rgba(0,0,0,0.10));
  background-color: #FFFFFF;
  width: 265px;
  text-align: center;
  background: $darker-gray;
}

.rd-container {
  .rd-date,
  .rd-month {

  }

  .rd-month {
    position: relative;
    background: $lighter-gray;
  }

  .rd-back,
  .rd-next {
    background-color: transparent;
    border: 0;
  }

  .rd-back {
    float: left;
  }

  .rd-next {
    float: right;
  }

  .rd-back:after,
  .rd-next:after {
    font: normal normal normal 12px/1 contactlab-icons;
    position: absolute;
    top: $small-spacing;
    left: 10px;
    width: 20px;
    height: 20px;
    color: #eaeced;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .rd-next:after {
    content: "\e60e";
    right: 0;
    left: auto;
  }

  .rd-back:after {
    content: "\e60d";
    left: 0;
  }

  .rd-month-label {
    background: $darker-gray;
    color: #FFFFFF;
    border: none;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    padding: $small-spacing $base-spacing;
  }

  .rd-days {
    td {
      border: 0;
      text-align: center;
      padding: 8px;
      cursor: pointer;
      font-size: 0.9rem;
    }
  }

  table {
    margin: 0;
  }

  .rd-days-head {
    padding: 1em 0;
    font-weight: $bold-weight;
    font-size: 13px;
    border: none;
    border-top: 1px solid #3a414d;
    background: #FFFFFF;
    border-bottom: 0;

    th {
      text-align: center;
      border-bottom: 0;
    }
  }

  .rd-day-selected {
    font-weight: bold;
    color: $primary-color;
  }

  .rd-day-prev-month,
  .rd-day-next-month {
    color: $gray;
  }

  .rd-time {
    position: relative;
    display: flex;
    min-width: 80px;
    color: #FFFFFF;
    font-size: $small-font-size;
  }
  .rd-time-list {
    display: none;
    position: absolute;
    overflow-y: scroll;
    max-height: 160px;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    top: 100%;
    background-color: #fff;
    color: #333;
    z-index: 10;
  }
  .rd-time-selected {
    padding: 5px;
    cursor: pointer;
    flex: 1 1;

    &:active {
        background: $dark-gray;
    }
  }
  .rd-time-option {
    padding: 5px;
    cursor: pointer;

    &:active {
        color: $primary-color;
    }
  }
  .rd-day-concealed {
    visibility: hidden;
  }

}
