::selection {
  background: $primary-color;
  color: set-text-color($primary-color);
}
::-moz-selection {
  background: $primary-color;
  color: set-text-color($primary-color);
}

:root {
  font-size: $base-font-size;
}

body {
  background: $background-color;
  font-family: $base-font;
  color: set-text-color($background-color);
  font-size: $base-font-size;
  line-height: 1.3;
  @include box-sizing;
}


* {
  font-family: $base-font;
  font-size: $base-font-size;
  @include box-sizing;

  &:focus {
    outline: none !important;
  }
}

.layout-wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: row;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: $primary-color;
}

%default-link-effect {
  color: $text-color;

  &:active {
    color: $primary-color;
  }
}

b,
strong {
  font-weight: $bold-weight;
}

// Truncate

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Multiline truncate

.multiline-truncate {
  $font-size: $base-font-size;
  $line-height: 1.4;
  $lines-to-show: 3;

  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  height: ($font-size*$line-height*$lines-to-show)+$base-spacing; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}


// STRUCTURE

section {
  padding: 0 0 $large-spacing;

  &:last-of-type {
    padding-bottom: 0;
  }
}

article {
  padding: 0 0 $base-spacing;

  &:last-of-type {
    padding-bottom: 0;
  }
}

// END STRUCTURE

// TYPOGRAPHY

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
  line-height: 1.2;
  margin-bottom: $base-spacing;
  margin-top: 0;
  font-weight: $normal-weight;

  &.no-spacing-title {
    margin-bottom: 0;
  }
}

p {
  padding-bottom: $base-spacing;
  line-height: 1.5;
}


h1 {
  font-size: 3rem;
  font-weight: $normal-weight;
  line-height: 1.5;

  &.page-title {
    position: relative;

    &:before {
      position: absolute;
      bottom: 0px;
      width: 75px;
      height: 3px;
      content: ''; 
      background-color: $primary-color;
    }
  }
}

h2 {
  font-size: 2rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.5;
}

h4 {
  font-size: $medium-font-size;
  font-weight: $semibold-weight;
}

h5 {
  font-size: $small-font-size;
}



// END TYPOGRAPHY


// TRANSITIONS

.fast-transition {
  @include transition(all 50ms ease-in-out);
}

.default-transition {
  @include transition(all 100ms ease-in-out);
}

.slow-transition {
  @include transition(all 200ms ease-in-out);
}



// SHADOW

.depth-0 {
  @include box-shadow(0, 0, 0, rgba(0,0,0,0) !important);
}

.depth-1 {
  @include box-shadow(0, 2px, 5px, rgba(0,0,0,0.16) !important);
}

.depth-2 {
  @include box-shadow(0, 8px, 17px, rgba(0,0,0,0.19) !important);
}

.depth-3 {
  @include box-shadow(0, 12px, 15px, rgba(0,0,0,0.24) !important);
}

.depth-4 {
  @include box-shadow(0, 16px, 28px, rgba(0,0,0,0.22) !important);
}

.depth-5 {
  @include box-shadow(0, 27px, 24px, rgba(0,0,0,0.2) !important);
}



// IMAGE EFFECTS

.grayscale {
  figure img {
    @include filter(grayscale, 90%);
    @extend .default-transition;
  }

  &:hover figure img {
    @include filter(grayscale, 0%);
    @extend .default-transition;
  }
}

.blur {
  figure img {
    @include filter(blur, 2px);
    @extend .default-transition;
  }

  &:hover figure img {
    @include filter(blur, 0);
    @extend .default-transition;
  }
}
