$icons-loop: (
	icon-fast-backward: "\e947",
	icon-backward: "\e948",
	icon-fast-forward: "\e949",
	icon-forward: "\e94a",
	icon-play: "\e94b",
	icon-stop: "\e94c",
	icon-pause: "\e94d",
	icon-equal-circle-full: "\e940",
	icon-full-arrow-left: "\e941",
	icon-full-arrow-right: "\e942",
	icon-full-arrow-top: "\e943",
	icon-equal: "\e944",
	icon-equal-circle: "\e945",
	icon-full-arrow-down: "\e946",
	icon-gender: "\e93a",
	icon-gift: "\e93f",
	icon-segment: "\e93c",
	icon-file: "\e93d",
	icon-pin: "\e93e",
	icon-filter: "\e93b",
	icon-filter-2: "\e914",
	icon-diamond: "\e937",
	icon-eye-hide: "\e939",
	icon-magic-wand: "\e93a",
	icon-clock: "\e938",
	icon-digital-campaign: "\e901",
	icon-ecommerce: "\e902",
	icon-dots: "\e904",
	icon-retail: "\e905",
	icon-facebook-circle: "\e92f",
	icon-google-plus-circle: "\e930",
	icon-linkedin-circle: "\e931",
	icon-twitter-circle: "\e932",
	icon-system: "\e92e",
	icon-support: "\e92b",
	icon-smile: "\e92c",
	icon-phone: "\e92d",
	icon-file-log: "\e925",
	icon-faq: "\e926",
	icon-wand: "\e927",
	icon-chat: "\e928",
	icon-bulb: "\e929",
	icon-attachment: "\e92a",
	icon-link: "\e923",
	icon-unlink: "\e924",
	icon-switch: "\e922",
	icon-check-circle-full: "\e920",
	icon-check-circle: "\e921",
	icon-contactlab: "\e91f",
	icon-smartphone: "\e91c",
	icon-chart-bars: "\e91d",
	icon-chart-pie: "\e936",
	icon-info-full: "\e91b",
	icon-warning-full: "\e915",
	icon-file-xls: "\e916",
	icon-file-zip: "\e917",
	icon-tag: "\e918",
	icon-upload: "\e919",
	icon-file-csv: "\e91a",
	icon-filter-full: "\e900",
	icon-file-code: "\e908",
	icon-chart-area: "\e909",
	icon-minus-circle-full: "\e90a",
	icon-plus-circle-full: "\e90b",
	icon-close-circle-full: "\e90c",
	icon-smartwatch: "\e90d",
	icon-devices: "\e90e",
	icon-tablet: "\e90f",
	icon-laptop: "\e910",
	icon-desktop: "\e911",
	icon-warning: "\e912",
	icon-tag-full: "\e913",
	icon-double-arrow-left: "\e906",
	icon-double-arrow-right: "\e907",
	icon-eye: "\e91e",
	icon-info: "\e933",
	icon-heart: "\e903",
	icon-heart-full: "\e934",
	icon-lock: "\e935",
	icon-refresh: "\e800",
	icon-cards: "\e801",
	icon-agenda: "\e60a",
	icon-analytics: "\e60b",
	icon-arrow-down: "\e60c",
	icon-arrow-left: "\e60d",
	icon-arrow-right: "\e60e",
	icon-arrow-top: "\e60f",
	icon-calendar: "\e610",
	icon-check: "\e611",
	icon-checkbox: "\e612",
	icon-checkbox-select: "\e613",
	icon-close: "\e614",
	icon-close-circle: "\e615",
	icon-code: "\e616",
	icon-dashboard: "\e617",
	icon-documentation: "\e618",
	icon-download: "\e619",
	icon-drag: "\e61a",
	icon-edit: "\e61b",
	icon-email: "\e61c",
	icon-erase: "\e61d",
	icon-expand: "\e61e",
	icon-file-doc: "\e61f",
	icon-file-pdf: "\e620",
	icon-file-ppt: "\e621",
	icon-gear: "\e623",
	icon-hamburger-menu: "\e624",
	icon-image: "\e625",
	icon-list: "\e626",
	icon-minus: "\e627",
	icon-minus-circle: "\e628",
	icon-news: "\e629",
	icon-folder: "\e62a",
	icon-plus: "\e62b",
	icon-plus-circle: "\e62c",
	icon-power: "\e62d",
	icon-radio: "\e62e",
	icon-radio-select: "\e62f",
	icon-copy: "\e630",
	icon-resize: "\e631",
	icon-save: "\e632",
	icon-search: "\e633",
	icon-send: "\e635",
	icon-settings: "\e636",
	icon-product-sign: "\e637",
	icon-engagement-marketing-sign: "\e638",
	icon-switch-off: "\e63a",
	icon-switch-on: "\e63b",
	icon-trash: "\e63c",
	icon-user: "\e63d",
	icon-users: "\e63e"
);


@font-face {
    font-family: 'contactlab-icons';
    src:    url('../fonts/contactlab-icons.eot?end7rf');
    src:    url('../fonts/contactlab-icons.eot?end7rf#iefix') format('embedded-opentype'),
	        url('../fonts/contactlab-icons.ttf?end7rf') format('truetype'),
	        url('../fonts/contactlab-icons.woff?end7rf') format('woff'),
	        url('../fonts/contactlab-icons.svg?end7rf#contactlab-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clab-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'contactlab-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@each $type, $code in $icons-loop {
    .#{$type} {
		&:before {
		    content: $code;
		}
    }
}
