@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);


$header-height: 64px;

header {
	padding: 0 $base-spacing;
	background-color: $header-color;
	color: set-text-color($header-color);
	display: flex;
	align-items: center;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 5;
	min-height: $header-height;
	line-height: 1;
	
	ul,
	ol {
		margin: 0;
		padding: 0;

		li {
			margin: 0;
			padding: 0;
		}
	}

	.logo {
		width: 250px;
		font-size: 20px;
		color: $text-color;

		a {
			color: $text-color;
		}

		.sign {
			color: $primary-color;
			font-size: 13px;
			vertical-align: super;
		}

		b {
			color: $primary-color;
			font-weight: $normal-weight;
		}
	}

	.mobile-menu-icon {
		font-size: 20px;
		cursor: pointer;
		padding: $base-spacing;
		display: none;
	}

	.main-nav {
		flex-grow: 1;
		display: flex;
		justify-content: center;

		@media (min-width: 60em) {
			display: flex !important;
		}

		> ul {
			flex-grow: 1;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: flex-end;

			li {
				flex-grow: 0;
				padding: 0;
			}

			a {
				padding: $large-spacing $base-spacing $small-spacing;
				text-decoration: none;
				color: set-text-color($header-color);
				position: relative;
				display: block;

				&:hover {
					&:after {
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						left: 40%;
						width: 20%;
						height: 3px;
						background-color: $gray;
						@extend .fast-transition;
					}
				}
			}

			li.active {
				a:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 3px;
					background-color: $primary-color;
					@extend .fast-transition;
				}
			}
		}
	}

	.user {
		width: 250px;
		text-align: right;
		display: flex;
		align-items: center;
		position: relative;
		cursor: pointer;
		@include user-selection;

		.user-picture {
			margin: 0;
			padding: 0; 
			width: 45px;
			height: 45px;
			position: relative;
			@include border-radius(50%);
			border: 2px solid $gray;
			font-size: 18px;
			color: $gray;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 41px;
				height: 41px;
				@include border-radius(50%);
			}

			.notifications {
				position: absolute;
				top: 0;
				right: -9px;
				width: 18px;
				height: 18px;
				background-color: $primary-color;
				color: set-text-color($primary-color);
				line-height: 18px;
				text-align: center;
				@include border-radius(50%);
				font-size: $small-font-size;
			}
		}

		.user-details {
			flex-grow: 1;
			padding: 0 10px;
			text-align: right;
			@include user-selection(none);

			.company {
				font-size: $small-font-size;
			}
		}

		.user-panel {
			position: absolute;
			right: 0;
			top: 100%;
			width: 150px;
			margin-top: $small-spacing - 1px;
			background-color: $header-color;
			border: 1px solid $gray;
			border-bottom: 0;
			text-align: left;
			display: none;

			a {
				display: block;
				padding: $small-spacing $small-spacing;
				border-bottom: 1px solid $gray;

				@extend %default-link-effect;
			}
		}

		&.active {

			.user-picture {
				border-color: $primary-color;
			}

			.user-panel{
				display: block;
			}
		} 
	} // END USERS

	// MOBILE HEADER
	@media (max-width: $desktop) {
		padding: 0;

		.mobile-menu-icon {
			display: block;
		}

		.close-overlay {
			display: block;
		}

		.main-nav {
			order: 1;
			position: fixed;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			z-index: 2;
			background-color: $overlay-color;
			padding-top: 3.75em;
			display: none;
			flex-direction: column;

			ul {
				flex-direction: column;
				align-content: center;
				justify-content: flex-start;
				align-items: center;
			}

			li {
				flex-grow: 0;
				display: flex;
				text-align: center;
				justify-content: center;
				font-size: $big-font-size;
			}
		}
		
		.logo {
			order: 2;
			flex-grow: 1;
			text-align: center;
			padding-right: 60px;
		}

		.user {
			order: 3;
			width: auto;
			background-color: $darker-gray;
			color: set-text-color($darker-gray);
			padding: $base-spacing;

			.user-picture {
				order: 0;
			}

			.user-details {
				order: 1;
				text-align: left;
			}

			.user-panel {
				background-color: $darker-gray;
				color: set-text-color($darker-gray);
				bottom: 100%;
				top: initial;
				width: 100%;
				border-color: rgba(255, 255, 255, 0.2);

				a {
					color: set-text-color($darker-gray);
					border-color: rgba(255, 255, 255, 0.2);
				}
			}
		}

	}

	// END MOBILE HEADER

} // END HEADER

main {
	padding: $header-height+$base-spacing $base-spacing $base-spacing;
	flex-grow: 1;
}

aside {
	width: 250px;
	padding: $base-spacing;
	border-left: 3px solid $secondary-color;
	flex-shrink: 0;
	display: none;
}

footer {
	padding: $base-spacing;
	background-color: $secondary-color;
}

// CONTEXTUAL MENU

.contextual-menu {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-top: 1px solid $gray;
	font-weight: $semibold-weight;
	margin-bottom: $base-spacing;
	@include user-selection;

	.mobile-nav-toggle {
		padding: $small-spacing $small-spacing;
		border-bottom: 1px solid $gray; 
		font-weight: $bold-weight;
		cursor: pointer;
		display: none;

		.arrow {
			font-size: 12px;
			margin-left: $smaller-spacing;
			float: right;
		}
	}

	> ul {
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-content: flex-start;
		border-bottom: 1px solid $gray;
		margin: 0;
		padding: 0;

		@media (min-width: 48em) {
			display: flex !important;
		}


		li {
			flex-grow: 0;
			padding: 0;
			position: relative;
			margin: 0;

			&.active > a {
				color: $primary-color;
			}

			a {
				display: block;
				padding: $small-spacing $medium-spacing $small-spacing 0;
				@extend %default-link-effect;
				cursor: pointer;
			}

			.arrow {
				font-size: 12px;
				margin-left: $smaller-spacing;
			}
		}

		ul {
			display: none; 
			position: absolute;
			top: 100%;
			left: -$base-spacing;
			right: $small-spacing;
			border: 1px solid $gray;
			background-color: $background-color;
			max-height: 450px;
			overflow: auto;
			z-index: 2;

			> li a {
				padding: $small-spacing $base-spacing;
				text-transform: none;

				&:hover {
					background-color: #FFFFFF;
				}
			}
		}
	}

	// MOBILE
	@media (max-width: $tablet) {
		flex-direction: column;

		.mobile-nav-toggle {
			display: block;
		}

		> ul {
			flex-direction: column;
			display: none;

			li {

				a {
					padding-left: $base-spacing;
					padding-right: $small-spacing;
				}

				.arrow {
					float: right;
				}
			}

			ul {
				position: static;
				border-left: 0;
				border-right: 0;

				> li a {
					padding-left: $medium-spacing;
					padding-right: $small-spacing;
				}
			}
		}
	}
}

// END CONTEXTUAL MENU

// CLOSE OVERLAY

.close-overlay {
	position: fixed;
	top: 0;
	right: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px; 
	z-index: 3;
	font-size: 20px;
	cursor: pointer;
	display: none;

	.icon-close {
		line-height: 40px;
	}
}



// WRAPPERS

.wrapper {
	max-width: 1320px;
	margin: 0 auto;
}

.small-wrapper {
	max-width: 960px;
	margin: 0 auto;
}



// MAIN ACTIONS BAR

.main-actions-bar {
	/* @include full;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	height: $main-actions-height;
	background-color: $dark-gray;
	padding: $small-spacing $base-spacing 0; */

	margin-top: $base-spacing;
	padding-top: $large-spacing;
	border-top: 1px solid $medium-gray;
	display: flex;
	flex-flow: row wrap;

	.left,
	.right {
		flex-grow: 1;
	}

	.right {
		text-align: right;
	}
}

// END MAIN ACTIONS BAR