
/////////////////// LISTS ///////////////////

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-bottom: $base-spacing;

  li {
    margin-bottom: $smaller-spacing;
    @include user-selection(auto);

    &:last-of-type {
        margin-bottom: 0;
    }
  }
}

ul.default,
ol.default {
  padding-left: 25px;

  li ul,
  li ol {
      padding-top: $smaller-spacing;
      padding-bottom: $small-spacing;
      padding-left: 20px;
  }
}

ul.default {
  list-style: disc;

  ul {
      list-style: circle;
  }
}

ol.default {
  list-style: decimal;

  ol {
      list-style: upper-roman;
  }
}

/////////////////// END LISTS ///////////////////
