/////////////////// PAGINATION ///////////////////

.pagination {
  text-align: right;

  .clab-icon {
    font-size: 10px;
  }

  li {
    color: $text-color;
    display: inline-block;
    margin: 0;
    width: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;

    &.page {
      &.active {
        background-color: $gray;
      }
    }
  }
}

/////////////////// END PAGINATION ///////////////////