// BREAKPOINTS
$wider-desktop: 100em;
$wide-desktop: 80em;
$desktop: 60em;
$tablet: 48em;
$smartphone: 30em;

// PALETTE
$grapefruit: #ED5565, #DA4453;
$bittersweet: #FC6E51, #E9573F;
$sunflower: #FFCE54, #F6BB42;
$grass: #A0D468, #8CC152;
$mint: #48CFAD, #37BC9B;
$aqua: #4FC1E9, #3BAFDA;
$blue-jeans: #5D9CEC, #4A89DC;
$lavander: #AC92EC, #967ADC;
$pink-rose: #EC87C0, #D770AD;
$contactlab: #0072bc, darken(#0072bc, 10);
$contactplan: #05C5FF, darken(#05C5FF, 10);

$palette: $contactlab;

// NEUTRAL COLORS
$lighter-gray: #F5F7FA;
$light-gray: #E6E9ED;
$gray: #CCD1D9;
$medium-gray: #AAB2BD;
$dark-gray: #656D78;
$darker-gray: #434A5A;

// SERVICE COLORS
$info-color: #9edeeb;
$info-text-color: #31708f;
$success-color: #c3dfac;
$success-text-color: #3c763d;
$warning-color: #f7deab;
$warning-text-color: #8a6d3b;
$error-color: #e1b2ba;
$error-text-color: #a94442;
$disabled-color: #C0C0C0;

// STRUCTURE COLORS
$default-color: $darker-gray;
$background-color: #F0f0f0;
$overlay-color: $background-color;
$header-color: #FFFFFF;
$table-hover-color: darken($background-color, 7);
$primary-color: nth($palette, 1);
$primary-text-color: set-text-color($primary-color);
$secondary-color: nth($palette, 2);
$secondary-text-color: set-text-color($secondary-color);



// FONTS

$base-font: 'Open Sans', sans-serif;
$title-font: 'Open Sans', sans-serif;
$text-color: $darker-gray;

$base-font-size: 14px;
$bigger-font-size: 1.429rem; //20px
$big-font-size: 1.286rem; //18px
$medium-font-size: 1.143rem; //16px
$small-font-size: 0.8571rem; // 12px
$smaller-font-size: 0.7143rem; // 10px


$light-weight: 300;
$normal-weight: normal;
$semibold-weight: 600;
$bold-weight: 700;


// SPACING

$base-spacing: 20px;
$smaller-spacing: $base-spacing/4;
$small-spacing: $base-spacing/2;
$medium-spacing: $base-spacing*1.5;
$large-spacing: $base-spacing*2;
$larger-spacing: $base-spacing*4;





@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $text-color; // Lighter backgorund, return dark color
  } @else {
    @return #FAFAFA; // Darker background, return light color
  }
}

@function set-stripe-color($color) {
  @if (lightness($color) > 60) {
    @return darken($background-color, 5); // Lighter backgorund, return dark color
  } @else {
    @return lighten($background-color, 5); // Darker background, return light color
  }
}


// LOOPS

$default-status: (
  primary: ($primary-color, set-text-color($primary-color)),
  info: ($info-color, $info-text-color),
  success: ($success-color, $success-text-color),
  warning: ($warning-color, $warning-text-color),
  error: ($error-color, $error-text-color)
);
