/////////////////// SPINNER ///////////////////

.spinner-overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include user-selection(none);

  .spinner {
    display: grid;
    width: 40px;
    height: 10px;
  }
}

spinner-clab {

  &[position='fixed'] {
    .spinner-overlay {
      position: fixed;
      z-index: 99;
    }
  }

  &[small] {
    .spinner-overlay {
      .spinner {
        width: 24px !important;
        height: 6px !important;
      }
    }
  }

  &[big] {
    .spinner-overlay {
      .spinner {
        width: 56px !important;
        height: 14px !important;
      }
    }
  }

  &[dark] {
    .spinner-overlay {
      background-color: rgba(0, 0, 0, 0.85) !important;
      color: #FFF;
      .spinner {
        svg {
          fill: #FFF !important;
        }
      }
    }
  }
}

/////////////////// END SPINNER ///////////////////
