<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">


	<script src="./../../../webcomponentsjs/webcomponents-lite.js"></script>
	<script src="./../../../web-component-tester/browser.js"></script>

	<link rel="import" href="./../../button-group/view.html">

</head>
<body>

<test-fixture id="group">
	<template>
		<group-clab>
			<button-clab></button-clab>
			<button-clab></button-clab>
			<button-clab></button-clab>
			<button-clab></button-clab>
		</group-clab>
	</template>
</test-fixture>


<script>

suite('<group-clab>', function() {
  var group;

  setup(function() {
	  group = fixture('group');
  });

  suite('Test Properties', function() {

  	test('Default Properties', function() {
  		assert.isFalse(group.small);
      assert.isFalse(group.smaller);
  		assert.isFalse(group.disabled);
  		assert.equal(group.type, '');
  		assert.equal(group.value, 0);
	  });

  });

  suite('Test DOM Bindings', function() {
    test('Check size "small"', function() {
  		var bool = true;
  		group.small = bool;
      var el = group.$$('.buttons-group');
      assert.include(el.classList.value, 'small', "Size 'small' correct");
    });
    test('Check size "smaller"', function() {
      var bool = true;
      group.smaller = bool;
      var el = group.$$('.buttons-group');
      assert.include(el.classList.value, 'smaller', "Size 'smaller' correct");
    });

    test('Check type', function() {
      var type = "warning";
      group.type = type;
      var el = group.$$('.buttons-group');
      assert.include(el.classList.value, type, "Type correct");
    });

    test('Check value selected', function() {
      var num = Math.floor(Math.random() * 4);
      group.value = num;
      // Check that single button have not "empty" class
      var el = group.querySelectorAll('button-clab button')[num];
      assert.notInclude(el.classList.value, 'empty', "Button not empty: selected");
    });

    test('Check disabled', function() {
      var bool = true;
      group.disabled = bool;

      group.getContentChildren().map(function(btn){
				assert.isTrue(btn.disabled, "All buttons disabled");
			});
    });

  });

  suite('Test Events', function () {
    test('Change selection on-click', function () {
      var val = 2;
      // Preselected value
      group.value = 0;
      // Click on the second button of the group
      group.querySelectorAll('button-clab button')[val].click();
      // Check value changed
      assert.equal(group.value, val, "On-click: value changed");
    });
  });

});

</script>
</body>
</html>
