<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">


	<script src="./../../../webcomponentsjs/webcomponents-lite.js"></script>
	<script src="./../../../web-component-tester/browser.js"></script>

	<link rel="import" href="./../../checkbox/view.html">

</head>
<body>

<test-fixture id="checkbox">
	<template>
	  <checkbox-clab></checkbox-clab>
	</template>
</test-fixture>


<script>

suite('<checkbox-clab>', function() {
  var checkbox;
  var labels = ['check1', 'check2'];
  var type = 'error';


	setup(function() {
		checkbox = fixture('checkbox');
	});

	suite('Test Properties', function() {

		test('Default Properties', function() {
			assert.isUndefined(checkbox.labels);
			assert.isUndefined(checkbox.wrapperType);
			assert.isArray(checkbox.active);
			assert.isUndefined(checkbox.disabled);
		});

	});

  suite('Test DOM Bindings', function() {

		test('Check labels', function(done) {
			checkbox.labels = labels;
      checkbox.wrapperType = type;

      setTimeout(function () {
        var rows = checkbox.querySelectorAll('.row');
        var singleCheck = checkbox.querySelectorAll('.row label')[0];
        assert.equal(rows.length, labels.length, "Rows lenght: correct");
        assert.equal(singleCheck.htmlFor, labels[0], "Label binding: correct");
        done();
      });

		});

    test('Check wrapperType', function(done) {
			checkbox.labels = labels;
      checkbox.wrapperType = type;

      setTimeout(function () {
        var row = checkbox.$$('.row');
        assert.include(row.classList.value, type, "Wrapper type: correct");
        done();
      });
		});

    test('Check disabled', function(done) {
			checkbox.labels = labels;
      checkbox.wrapperType = type;
      // Fill array of disabled checkbox
      checkbox.disabled = [0, 1];
      setTimeout(function () {
        Array.prototype.map.call(checkbox.querySelectorAll('input[type=checkbox]'), function(el, i){
          for(var n = 0; n < checkbox.disabled.length; n++) {
            if(n == i)
              assert.isTrue(el.disabled);
          }
        });
        done();
      });

		});

    test('Check active', function(done) {
			checkbox.labels = labels;
      checkbox.wrapperType = type;

      checkbox.active = [1];
      setTimeout(function () {
        var inputActive = checkbox.querySelectorAll('input[type=checkbox]')[1];
        assert.isTrue(inputActive.checked);
        done();
      });

		});


	});

  suite('Test Events', function() {

		test('Update active on-click', function(done) {
      checkbox.labels = labels;
      checkbox.wrapperType = type;
      // TODO: must be set on element as default value
      //checkbox.active = [];

      setTimeout(function () {
        var check = checkbox.querySelectorAll('input[type=checkbox]')[1];
        check.addEventListener('click', function (evt) {
          setTimeout(function () {
            assert.isArray(checkbox.active, "Checkbox.active is array: correct");
            assert.equal(checkbox.active.length, 1, "checkbox.active is filled: correct");
            done();
          });
        });
        check.click();
      });
		});

	});




});

</script>
</body>
</html>
