<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">


	<script src="./../../../webcomponentsjs/webcomponents-lite.js"></script>
	<script src="./../node_modules/web-component-tester/browser.js"></script>

	<link rel="import" href="./../../../polymer/polymer.html">
	<link rel="import" href="./../../dropdown/view.html">
	<script src="./../../_components/bundle.js"></script>

</head>
<body>

<test-fixture id="dropdown">
	<template>
	  <dropdown-clab>This is my note</dropdown-clab>
	</template>
</test-fixture>


<script>

suite('<dropdown-clab>', function() {
  var dropdown;

	setup(function() {
		dropdown = fixture('dropdown');
	});

	suite('Test Properties', function() {

		test('Default Properties', function() {
			assert.isNull(dropdown.label);
      assert.equal(dropdown.icon, '');
			assert.equal(dropdown.type, '');
			assert.isArray(dropdown.options);
			assert.isObject(dropdown.selected);
      assert.isUndefined(dropdown.highlighted);
      assert.equal(dropdown.valueField, 'value');
      assert.equal(dropdown.labelField, 'label');
			assert.isUndefined(dropdown.optionsFn);
      assert.isUndefined(dropdown.url);
      assert.isFalse(dropdown.inline);
      assert.equal(dropdown.labelSize, '');
			assert.equal(dropdown.placeholder, 'Select..');
			assert.isFalse(dropdown.disabled);
      assert.isFalse(dropdown.preventChange);
			assert.isFalse(dropdown.resultAsObj);
			assert.equal(dropdown.maxInView, 4);
			assert.isUndefined(dropdown.noteType);
      assert.equal(dropdown.maxHeight, 28);
      assert.isFalse(dropdown.search);
      assert.equal(dropdown.searchValue, '');
      assert.isArray(dropdown.optionsList);
		});

	});

  /*suite('Test DOM Bindings', function() {

		test('Check labels', function(done) {
      var label = 'ciccio';
      dropdown.label = label;
      setTimeout(function () {
        var el = dropdown.$$('label');
        assert.equal(el.innerText, label, "Label shows: correct");
        done();
      });
		});

    test('Check icon', function(done) {
      var icon = 'icon-agenda';
      dropdown.icon = icon;
      setTimeout(function () {
        var el = dropdown.$$('label i');
        assert.isTrue(el.classList.contains(icon), "Icon shows: correct");
        done();
      });
		});

    test('Check type', function(done) {
      var type = 'success';
      dropdown.label = 'ciccio';
      dropdown.type = type;
      setTimeout(function () {
        var wrapp = dropdown.$$('.input-wrapper');
        var label = dropdown.$$('label');
        var valueWrapp = dropdown.$$('.value_wrapper');
        assert.isTrue(wrapp.classList.contains(type), "Type on input-wrapper: correct");
        assert.isTrue(label.classList.contains(type), "Type on label: correct");
        assert.isTrue(valueWrapp.classList.contains(type), "Type on value_wrapper: correct");
        done();
      });
		});

		test('Check options', function(done) {
      var obj = [
          {value: 'A', label: 'Option 1'},
          {value: 'B', label: 'Option 2'},
          {value: 'C', label: 'Option 1'},
          {value: 'D', label: 'Option 2'}
        ];
      dropdown.options = obj;

      setTimeout(function () {
        var list = dropdown.querySelectorAll('.options-list li');
        assert.lengthOf(list, obj.length, "Options bindings: correct");
        done();
      });
		});

    test('Check selected', function(done) {
      var obj = { value: "test", label: "Label test"};
      dropdown.selected = obj;
      setTimeout(function () {
        var el = dropdown.$$('.value_wrapper .selected');
        assert.equal(el.innerText, obj.label, "Selected: correct");
        done();
      });
		});

    test('Check highlighted', function() {
      var obj = { value: "test", label: "Label test"};
      dropdown._setSelected(obj);
      assert.equal(dropdown.highlighted, dropdown.selected);
		});

    test('Check valueField and labelField', function() {
      var options = [ { text: "test", anotherField: "Label test"} ];
      dropdown.valueField = "text";
      dropdown.labelField = "anotherField";
      dropdown.options = options;
      assert.equal(dropdown._compValue(dropdown.options[0]), "test", "Change default value field of object handler: correct");
      assert.equal(dropdown._compLabel(dropdown.options[0]), "Label test", "Change default label field of object handler: correct");
      //assert.equal(dropdown.labelField, obj.label);
    });

    test('Check placeholder', function(done) {
      var placeholder = "New placeholder";
      dropdown.placeholder = placeholder;

      setTimeout(function () {
        var el = dropdown.$$('.value_wrapper .placeholder');
        assert.equal(el.innerText, placeholder, "placeholder: correct");
        done();
      });
    });

    test('Check disabled', function(done) {
      var bool = true;
      dropdown.disabled = bool;

      setTimeout(function () {
        var el = dropdown.$$('.value_wrapper');
        assert.isTrue(el.classList.contains('disabled'), "Disabled: correct");
        done();
      });
    });

    test('Check maxInView', function(done) {
			// maxInView default = 5
      var obj = [
          {value: 'A', label: 'Option 1'},
          {value: 'B', label: 'Option 2'},
          {value: 'C', label: 'Option 1'},
          {value: 'D', label: 'Option 2'},
					{value: 'F', label: 'Option 2'},
					{value: 'H', label: 'Option 2'},
					{value: 'I', label: 'Option 2'},
        ];

      dropdown.options = obj;


      var click = new Event('click');
      dropdown.$$('.value_wrapper').dispatchEvent(click);

      setTimeout(function () {
        var curtain = dropdown.$$('curtain-clab');
				var list = Polymer.dom(curtain.root).querySelector('.options-list');

        var maxHeight = (dropdown.maxHeight * dropdown.maxInView) + 1;
        assert.isBelow(list.clientHeight, maxHeight);
        done();
      }, 200);
    });

		test('Check noteType', function(done) {
      var type = 'ciccio';
      dropdown.noteType = type;
      setTimeout(function () {
        var note = dropdown.$$('note-clab');
				var el = Polymer.dom(note.root).querySelector('.input-note');
        assert.isTrue(el.classList.contains(type), "noteType shows: correct");
        done();
      });
		});

	});*/

  suite('Test Events', function() {

		test('Change event', function(done) {
      var obj = { value: 'A', label: 'Option 1' };
      var options = [
          {value: 'A', label: 'Option 1'},
          {value: 'B', label: 'Option 2'},
          {value: 'C', label: 'Option 1'},
          {value: 'D', label: 'Option 2'}
        ];

		  dropdown.addEventListener('change', function (evt) {
		    assert.equal(evt.detail.selected, obj.value, "Value selected: correct");
        assert.equal(evt.type, "change", "Type event 'change': correct");
        done();
		  });

      dropdown.options = options;
      dropdown._setSelected(obj);
		});
	});

});

</script>
</body>
</html>
