<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	

	<script src="./../../../webcomponentsjs/webcomponents-lite.js"></script>
	<script src="./../../../web-component-tester/browser.js"></script>

	<link rel="import" href="./../../menu-sidebar/view.html">

</head>
<body>
	
<test-fixture id="menu">
	<template>
	  	<menu-clab>
			<span class="name">menu-<b>clab</b></span>
	  	</menu-clab>
	</template>
</test-fixture>


<script>

describe('<menu-clab>', function() {
  var menu;

	beforeEach(function() {
		menu = fixture('menu');
	});

	context('Test Properties', function() {

		it('Default Properties', function(done) {
			expect(menu.titleIcon).to.equal('fa-hand-peace-o');
			expect(menu.reduceOpen).to.equal('clab clab-icon-expand expand');
			expect(menu.reduceClose).to.equal('clab clab-icon-resize compress');
			expect(menu.menu).to.be.an('array');
			expect(menu.link).to.equal('/');

			done();
		});

	});

	context('Test DOM Bindings', function(){

		it('Check titleIcon', function(done) {
			var str = 'new-title-icon';
			menu.titleIcon = str;

			setTimeout(function(){
				expect(menu.querySelector('.clab').classList.contains(str)).to.equal(true);

				done();
			},50);
		});

		it('Check reduceOpen', function(done) {
			var str = 'reduce';
			menu.reduceOpen = str;

			setTimeout(function(){
				expect(menu.querySelectorAll('#reduce i')[0].classList.contains(str)).to.equal(true);

				done();
			},50);
		});

		it('Check reduceClose', function(done) {
			var str = 'reduce';
			menu.reduceClose = str;

			setTimeout(function(){
				expect(menu.querySelectorAll('#reduce i')[1].classList.contains(str)).to.equal(true);

				done();
			},50);
		});

		it('Check menu', function(done) {
			var obj = [{
				"label": "Plans",
				"url": "#/plans",
				"icon": "clab clab-icon-dashboard icon"
			}, {
				"label": "Segments",
				"url": "#/segments",
				"icon": "clab clab-icon-segment icon"
			}, {
				"label": "Reports",
				"url": "#/reports",
				"icon": "clab clab-icon-analytics icon"
			}, {
				"label": "Settings",
				"url": "#/settings",
				"icon": "clab clab-icon-settings icon",
				"submenu": [{
					"label": "Showed fields",
					"url": "#/settings/fields"
				}, {
					"label": "Time zones & week",
					"url": "#/settings/timezones"
				}, {
					"label": "Do Not Disturb Policy",
					"url": "#/settings/dnd"
				}, {
					"label": "Users",
					"url": "#/settings/users"
				}]
			}];
			menu.menu = obj;

			setTimeout(function(){
				expect(menu.querySelectorAll('.first-level-menu > li').length).to.equal(obj.length);

				done();
			},50);
		});

		it('Check link', function(done) {
			var str = 'www.ciccio.com';
			menu.link = str;

			setTimeout(function(){
				expect(menu.querySelector('#logo a').getAttribute('href')).to.equal(str);

				done();
			},50);
		});

	});

});	

</script>
</body>
</html>