<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	

	<script src="./../../../webcomponentsjs/webcomponents-lite.js"></script>
	<script src="./../../../web-component-tester/browser.js"></script>

	<link rel="import" href="./../../multiple/view.html">

</head>
<body>
	
<test-fixture id="multiple">
	<template>
	  <multiple-clab></multiple-clab>
	</template>
</test-fixture>


<script>

describe('<multiple-clab>', function() {
  var multiple;

	beforeEach(function() {
		multiple = fixture('multiple');
		multiple.liHeight=20;
	});

	context('Test Properties', function() {

		it('Default Properties', function(done) {
			expect(multiple.label).to.equal(null);
			expect(multiple.name).to.equal('multiple select');
			expect(multiple.type).to.equal('success');
			expect(multiple.selected).to.be.an('array');
			expect(multiple.options).to.be.an('array');
			expect(multiple.optionsFn).to.be.undefined;
			expect(multiple.url).to.be.undefined;
			expect(multiple.disabled).to.equal(false);
			expect(multiple.spinner).to.equal(false);
			expect(multiple.maxInView).to.equal(6);
			expect(multiple.noteType).to.be.undefined;

			done();
		});

	});


	context('Test DOM Bindings', function() {

		it('Check label', function(done) {
			var str="multiple";
			multiple.label=str;

			setTimeout(function(){
				expect(multiple.querySelector('label')).to.not.be.undefined;

				done();
			},50);
		});

		it('Check name', function(done) {
			var str="multiple select 2";
			multiple.label=str;
			multiple.name=str;

			setTimeout(function(){
				expect(multiple.querySelector('label').getAttribute('for')).to.equal(multiple._dashify(str));
				expect(multiple.querySelector('#'+multiple._dashify(str))).to.not.be.undefined;

				done();
			},50);
		});

		it('Check type & noteType', function(done) {
			var str = 'error';
			var note = 'note';
			multiple.label= str;
			multiple.type = str;
			multiple.noteType = note;

			setTimeout(function(){
				expect(multiple.querySelector('label').classList.contains(str)).to.equal(true);
				expect(multiple.querySelector('#'+multiple._dashify(multiple.name)).classList.contains(str)).to.equal(true);
				expect(multiple.querySelector('.input-note').classList.contains(note)).to.equal(true);

				done();
			},50);
		});

		it('Check options', function(done) {
			var obj=[{"label":"ciccio", "value":"ciccio"},{"label":"puzzo raga", "value":"puzzo raga"},{"label":"bella", "value":"bella"},{"label":"raga", "value":"raga"},{"label":"tutto raga", "value":"tutto raga"},{"label":"tutto rego", "value":"tutto rego"}];
			multiple.options=obj;

			setTimeout(function(){
				expect(multiple.querySelectorAll('li').length).to.equal(obj.length);

				done();
			},50);
		});

		it('Check disabled', function(done) {
			multiple.disabled=true;

			setTimeout(function(){
				expect(multiple.type).to.equal('disabled');

				done();
			},50);
		});

		it('Check spinner', function(done) {
			multiple.spinner=true;

			setTimeout(function(){
				expect(multiple.querySelector('spinner-clab')).to.not.be.undefined;

				done();
			},50);
		});

		it('Check maxInView', function(done) {
			multiple.maxInView=10;
			multiple.options=[{"label":"ciccio", "value":"ciccio"},{"label":"puzzo raga", "value":"puzzo raga"},{"label":"bella", "value":"bella"},{"label":"raga", "value":"raga"},{"label":"tutto raga", "value":"tutto raga"},{"label":"tutto rego", "value":"tutto rego"}];

			setTimeout(function(){
				expect(multiple.querySelector('.options-list').style.maxHeight).to.equal((multiple.liHeight*multiple.maxInView)+'px');

				done();
			},150);
		});

	});

});	

</script>
</body>
</html>