<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">


	<script src="./../../../webcomponentsjs/webcomponents-lite.js"></script>
	<script src="./../../../web-component-tester/browser.js"></script>

	<link rel="import" href="./../../../polymer/polymer.html">
	<link rel="import" href="./../../tooltip/view.html">
	<script src="./../../bundle.js"></script>

</head>
<body>

<test-fixture id="tooltip">
	<template>
	  <tooltip-clab><span class="tt-label">My tooltip</span></tooltip-clab>
	</template>
</test-fixture>


<script>

suite('<tooltip-clab>', function() {
  var tooltip;

  setup(function() {
	  tooltip = fixture('tooltip');
  });

  suite('Test Properties', function() {

  	test('Default Properties', function() {
  		assert.equal(tooltip.type, '');
  		assert.isFalse(tooltip.visible);
      assert.equal(tooltip.wait, 500);
	  });

  });

  suite('Test DOM Bindings', function() {

  	test('Check type', function() {
  		var type = 'error';
  		tooltip.type = type;

      var elClass = tooltip.$$('.tooltip').classList;
      assert.isTrue(elClass.contains(type));
  	});

    test('Check visible', function() {
  		tooltip.visible = true;

      var elClass = tooltip.$$('.tooltip').classList;
      assert.isTrue(elClass.contains('visible'));
  	});

    test('Check wait', function(done) {
      tooltip.wait = 400;
      var mouseEnter = new Event('mouseenter');
      var mouseLeave = new MouseEvent('mouseleave');

      var el = tooltip.$$('span');
      el.dispatchEvent(mouseEnter);
      setTimeout(function () {
        var elClass = tooltip.$$('.tooltip').classList;
        assert.isTrue(elClass.contains('visible'), "Wait 400ms and visible");
        done();
      }, 400)
  	});
  });

  suite('Test Methods', function() {

  	test('show()', function() {
      assert.isFalse(tooltip.visible);
      tooltip.show();
      assert.isTrue(tooltip.visible);
      var el = tooltip.$$('.tooltip');
      assert.equal(el.style.opacity, 1);
	  });

    test('hide()', function() {
      tooltip.visible = true;
      tooltip.hide();
      assert.isFalse(tooltip.visible);
      var el = tooltip.$$('.tooltip');
      assert.equal(el.style.opacity, 0);
	  });

  });

});

</script>
</body>
</html>
