@import 'vars.scss';
*{
	--primary-color: $primary-color;
	--secondary-color: $secondary-color;
	--info-color: $info-color;
	--success-color: $success-color;
	--warning-color: $warning-color;
	--error-color: $error-color;
	--bg-color: $bg-color;
}