.options-list{
  display: none;
  overflow: auto;
}
.options-list.hidden{
    display: block;
    opacity: 0;
}
.options-list.active{
    display: block;
    opacity: 1;
}
.options-list li{
    display: none;
}
.options-list li.show{
    display: block;
}