<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <script src="../../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../../web-component-tester/browser.js"></script>

    <link rel="import" href="../../toaster/view.html" />
  </head>
  <body>
    <test-fixture id="toaster">
      <template>
        <toaster-clab></toaster-clab>
      </template>
    </test-fixture>

    <script>
      describe('<toaster-clab>', function () {
        var toaster;

        beforeEach(function () {
          toaster = fixture('toaster');
        });

        context('Test Properties', function () {
          it('default properties', function (done) {
            expect(toaster.right).to.equal(false);
            expect(toaster.message).to.be.undefined;
            expect(toaster.callerType).to.equal('primary');
            expect(toaster.actionType).to.equal('success');
            expect(toaster.actionText).to.equal('OK');

            done();
          });
        });

        context('Test DOM Bindings', function () {
          it('Check right', function (done) {
            toaster.right = true;

            setTimeout(function () {
              expect(
                toaster
                  .querySelector('#toast-right')
                  .classList.contains('right')
              ).to.equal(true);

              done();
            }, 50);
          });

          it('Check message', function (done) {
            var str = 'this is a message';
            toaster.message = str;

            setTimeout(function () {
              expect(
                toaster.querySelector('.toast-message').innerText
              ).to.equal(str);

              done();
            }, 50);
          });

          it('Check callerType', function (done) {
            var str = 'error';
            toaster.callerType = str;

            setTimeout(function () {
              expect(
                toaster
                  .querySelector('#toast-' + toaster.name + '-btn')
                  .classList.contains(str)
              ).to.equal(true);

              done();
            }, 50);
          });

          it('Check actionType', function (done) {
            var str = 'error';
            toaster.actionType = str;

            setTimeout(function () {
              expect(
                toaster.querySelector('.actions button').classList.contains(str)
              ).to.equal(true);

              done();
            }, 50);
          });

          it('Check actionText', function (done) {
            var str = 'error';
            toaster.actionText = str;

            setTimeout(function () {
              expect(
                toaster.querySelector('.actions button').innerText
              ).to.equal(str);

              done();
            }, 50);
          });
        });

        context('Test Events', function () {
          it('Showing & Hiding toaster on-click', function (done) {
            var evt = new Event('click');
            toaster
              .querySelector('#toast-' + toaster.name + '-btn')
              .dispatchEvent(evt);

            setTimeout(function () {
              expect(
                toaster
                  .querySelector('#toast-' + toaster.name)
                  .classList.contains('visible')
              ).to.equal(true);

              toaster.querySelector('.actions button').dispatchEvent(evt);

              setTimeout(function () {
                expect(
                  toaster
                    .querySelector('#toast-' + toaster.name)
                    .classList.contains('visible')
                ).to.equal(false);

                done();
              }, 50);
            }, 50);
          });
        });
      });
    </script>
  </body>
</html>
