.accordion-title {
  padding-left: 2.4rem;
  position: relative;
  cursor: pointer;
  user-select: auto;

  &::before {
    content: '\f107';
    width: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
  }
}

.accordion-content {
  @extend %default-transition;
  overflow: hidden;
  height: 0;
  padding-top: 1.2rem;
  padding-left: 2.4rem;

  &.opened {
    overflow: inherit;
  }
}

.accordion-block {
  @extend %default-transition;

  &.active {
    .accordion-title::before {
      content: '\f106';
    }

    .accordion-content {
      padding-bottom: 2rem;
    }
  }
}
