.breadcrumb {
  font-size: 1.6rem;

  li {
    display: inline;

    &::after {
      content: '/';
      margin: 0 0.4rem;
      color: colors('base300');
    }

    &:last-child::after {
      content: '';
    }
  }
}
