@font-face {
	font-family: 'contactlab-icons';
	src:url('../fonts/contactlab-icons.eot?jvu558');
	src:url('../fonts/contactlab-icons.eot?#iefixjvu558') format('embedded-opentype'),
		url('../fonts/contactlab-icons.ttf?jvu558') format('truetype'),
		url('../fonts/contactlab-icons.woff?jvu558') format('woff'),
		url('../fonts/contactlab-icons.svg?jvu558#contactlab-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.clab-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'contactlab-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-smartphone:before {
    content: "\e91c";
}
.icon-chart-bars:before {
    content: "\e91d";
}
.icon-chart-pie:before {
    content: "\e91e";
}
.icon-info-full:before {
    content: "\e91b";
}
.icon-warning-full:before {
    content: "\e915";
}
.icon-file-xls:before {
    content: "\e916";
}
.icon-file-zip:before {
    content: "\e917";
}
.icon-tag:before {
    content: "\e918";
}
.icon-upload:before {
    content: "\e919";
}
.icon-file-csv:before {
    content: "\e91a";
}
.icon-filter-full:before {
    content: "\e900";
}
.icon-file-code:before {
    content: "\e908";
}
.icon-chart-area:before {
    content: "\e909";
}
.icon-minus-circle-full:before {
    content: "\e90a";
}
.icon-plus-circle-full:before {
    content: "\e90b";
}
.icon-close-circle-full:before {
    content: "\e90c";
}
.icon-smartwatch:before {
    content: "\e90d";
}
.icon-devices:before {
    content: "\e90e";
}
.icon-tablet:before {
    content: "\e90f";
}
.icon-laptop:before {
    content: "\e910";
}
.icon-desktop:before {
    content: "\e911";
}
.icon-warning:before {
    content: "\e912";
}
.icon-tag-full:before {
    content: "\e913";
}
.icon-filter:before {
    content: "\e914";
}
.icon-double-arrow-left:before {
    content: "\e905";
}
.icon-double-arrow-right:before {
    content: "\e906";
}
.icon-eye:before {
    content: "\e907";
}
.icon-info:before {
    content: "\e904";
}
.icon-heart:before {
    content: "\e901";
}
.icon-heart-full:before {
    content: "\e902";
}
.icon-lock:before {
    content: "\e903";
}
.icon-refresh:before {
    content: "\e800";
}
.icon-cards:before {
    content: "\e801";
}
.icon-agenda:before {
    content: "\e60a";
}
.icon-analytics:before {
    content: "\e60b";
}
.icon-arrow-down:before {
    content: "\e60c";
}
.icon-arrow-left:before {
    content: "\e60d";
}
.icon-arrow-right:before {
    content: "\e60e";
}
.icon-arrow-top:before {
    content: "\e60f";
}
.icon-calendar:before {
    content: "\e610";
}
.icon-check:before {
    content: "\e611";
}
.icon-checkbox:before {
    content: "\e612";
}
.icon-checkbox-select:before {
    content: "\e613";
}
.icon-close:before {
    content: "\e614";
}
.icon-close-circle:before {
    content: "\e615";
}
.icon-code:before {
    content: "\e616";
}
.icon-dashboard:before {
    content: "\e617";
}
.icon-documentation:before {
    content: "\e618";
}
.icon-download:before {
    content: "\e619";
}
.icon-drag:before {
    content: "\e61a";
}
.icon-edit:before {
    content: "\e61b";
}
.icon-email:before {
    content: "\e61c";
}
.icon-erase:before {
    content: "\e61d";
}
.icon-expand:before {
    content: "\e61e";
}
.icon-file-doc:before {
    content: "\e61f";
}
.icon-file-pdf:before {
    content: "\e620";
}
.icon-file-ppt:before {
    content: "\e621";
}
.icon-gear:before {
    content: "\e623";
}
.icon-hamburger-menu:before {
    content: "\e624";
}
.icon-image:before {
    content: "\e625";
}
.icon-list:before {
    content: "\e626";
}
.icon-minus:before {
    content: "\e627";
}
.icon-minus-circle:before {
    content: "\e628";
}
.icon-news:before {
    content: "\e629";
}
.icon-folder:before {
    content: "\e62a";
}
.icon-plus:before {
    content: "\e62b";
}
.icon-plus-circle:before {
    content: "\e62c";
}
.icon-power:before {
    content: "\e62d";
}
.icon-radio:before {
    content: "\e62e";
}
.icon-radio-select:before {
    content: "\e62f";
}
.icon-copy:before {
    content: "\e630";
}
.icon-resize:before {
    content: "\e631";
}
.icon-save:before {
    content: "\e632";
}
.icon-search:before {
    content: "\e633";
}
.icon-send:before {
    content: "\e635";
}
.icon-settings:before {
    content: "\e636";
}
.icon-sign:before {
    content: "\e637";
}
.icon-sign-full:before {
    content: "\e638";
}
.icon-switch-off:before {
    content: "\e63a";
}
.icon-switch-on:before {
    content: "\e63b";
}
.icon-trash:before {
    content: "\e63c";
}
.icon-user:before {
    content: "\e63d";
}
.icon-users:before {
    content: "\e63e";
}

