// BREAKPOINTS
$wider-desktop: max-width 100em;
$wide-desktop: max-width 80em;
$desktop: max-width 60em;
$tablet: max-width 48em;
$smartphone: max-width 30em;

// COLORS
$base-gray: #353A3D;

$lighter-gray: lighten($base-gray, 70);
$light-gray: lighten($base-gray, 65);
$gray: lighten($base-gray, 60);
$medium-gray: lighten($base-gray, 45);
$dark-gray: $base-gray;
$darker-gray: shade($base-gray, 25);

$base-background-color: #F0f0f0;
$overlay-color: rgba($base-background-color, 0.97);
$default-color: #616161;


$base-text-color: $dark-gray;

$info-color: #9edeeb;
$info-text-color: #31708f;
$success-color: #c3dfac;
$success-text-color: #3c763d; 
$warning-color: #f7deab;
$warning-text-color: #8a6d3b;
$error-color: #e1b2ba;
$error-text-color: #a94442;
$disabled-color: #C0C0C0;

// product colors
$contactlab-color: #0072bc;
$contactplan-color: #14C04D;
$contacthub-color: #00BCD4;
$contactsend-color: #00578C;
$contactscore-color: #FFBF02;
$contactanalytics-color: #F9615B;

$primary-color: $contactplan-color;
$primary-color-hover:  shade($primary-color, 5%);
$primary-text-color: #FFFFFF; 
$link-color: $primary-color;
$link-color-hover: shade($link-color, 5%);

// tables color
$table-hover-color: $primary-color;
$table-striped-color: #FFF;



// FONTS
// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,700,600,800);

// family
$title-font-family: 'Open Sans', sans-serif;
$base-font-family: 'Open Sans', sans-serif;

// sizes

$base-font-size: 14px;
$bigger-font-size: 1.375rem; // 22px
$big-font-size: 1.25rem; // 20px
$medium-font-size: 1.125rem; // 18px
$small-font-size: 0.8571rem; // 13px
$smaller-font-size: 0.7857rem; // 11px 


// weight
$light-weight: 300;
$normal-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

// colors


// SPACING
$base-spacing: 20px;
$smaller-spacing: $base-spacing / 3;
$small-spacing: $base-spacing / 2;
$medium-spacing: $base-spacing * 1.5;
$large-spacing: $base-spacing * 2;
$larger-spacing: $base-spacing * 3;


$default-status: (
  primary: ($primary-color, $primary-text-color),
  info: ($info-color, $info-text-color),
  success: ($success-color, $success-text-color),
  warning: ($warning-color, $warning-text-color),
  error: ($error-color, $error-text-color)
);

$product-colors: (
  contactlab: ($contactlab-color),
  contacthub: ($contacthub-color)
);
