// --- Maps
$default-status: (
  primary: (
    colors('accent500'),
    colors('white')
  ),
  info: (
    colors('base500'),
    colors('base900')
  ),
  success: (
    colors('success'),
    colors('base900')
  ),
  warning: (
    colors('warning'),
    colors('base900')
  ),
  error: (
    colors('error'),
    colors('base900')
  )
);

// --- Placeholders
%default-link-effect {
  color: colors('base900');

  &:active {
    color: colors('accent500');
  }
}

%default-transition {
  transition: 150ms ease-in-out;
}

%fast-transition {
  transition: 100ms ease-in-out;
}

%slow-transition {
  transition: 200ms ease-in-out;
}

%truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
