body {
  background-color: colors('base100');

  &.no-scroll {
    overflow: hidden;
    padding-right: 1.5rem;
  }
}

a,
a:link,
a:visited {
  color: colors('accent500');
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: darken($color: colors('accent500'), $amount: 10%);
}

a:active {
  color: lighten($color: colors('accent500'), $amount: 10%);
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// --- Row actions
.row-action {
  display: flex;
  align-self: stretch;

  a {
    @extend %default-link-effect;
    display: flex;
    padding: 0 1.2rem;
    align-items: center;
  }

  @each $status, $color in $default-status {
    &.#{$status} {
      a {
        color: nth($color, 1);

        &:active {
          color: darken($color: nth($color, 1), $amount: 20%);
        }
      }
    }
  }
}

// --- Misc
.key-value {
  li {
    display: flex;
    margin-bottom: 1.2rem * 1.5;
    flex-flow: row wrap;
    flex-grow: 1;
    align-items: flex-end;

    span:first-of-type {
      @extend label;
      padding: 0 !important;
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  hr.divider {
    margin: 0 1.2rem 0.3rem;
    border-style: dotted;
    flex: 1 0;
  }

  .multiple {
    padding-top: 1.2rem;
    padding-left: 2rem;
    flex-basis: 100%;
  }
}
