// --- Box Model
.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

// --- Typography
.truncate {
  @extend %truncate;
}

// --- Transitions
.default-transition {
  @extend %default-transition;
}

.fast-transition {
  @extend %fast-transition;
}

.slow-transition {
  @extend %slow-transition;
}

// --- Layouts
.txt-center {
  text-align: center;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}
